// Place all the styles related to the Drama controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// This also user Bourbon - thoughtbot.com/bourbon

$gw-column: 400px;          // Column Width
$gw-gutter: 20px;           // Gutter Width
$page-gutter: 70px; // left and right grey border width

$background-black: rgba(#000, 1); // header and footer bg
$container-gray: #a4a4a4; // grey border

body {
	background-color: rgb(29 ,29 ,29);
	font-family: $helvetica;
}
header {
	height:82px;
    background-color: transparentize($background-black, 0.22);
	padding:0 $page-gutter 0 $page-gutter;
}
#container {
	width:900px;
	margin: 0 auto;
	@include background-image(url("/assets/pages.png"));
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
}
#main {
	text-align:left;
	padding:0 $page-gutter 0 $page-gutter;
}
h1, h2, h3 {
	color: #fff;
	margin:0;
	padding:0;
}

table.lines {
	border: 1px solid red;
	td {
	  	vertical-align:top;
		border: 1px solid green;
	}
	td.character {

	}
	td.line {

	}
	td.performance {

	}
	td.stage-direction {
		font-weight:bold;
	}
}
div#new-performance {
  div.line, div.character {

  }
}
form.new_performance {
	text-align:left;
	div {

	}
	label {
		font-weight:bold;
		display:block;
	}
	input {
		padding:3px;
		margin:3px 0 20px 0;
		display:block;
	}
}
footer {

}
div.notice {

}
