// Place all the styles related to the Drama controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image: url("/assets/bg.png");
	background-repeat: repeat-x;
	background-color: #fff;
	text-align:center;
	font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif

}
header h1 {
	font-size:280%;
}
#container {
	width:910px;
	margin:auto;
	margin-top:30px;
}
#main {
	text-align:left;
}
h1, h2, h3 {
	font-family: 'Josefin Slab', serif;
}
hgroup {
	text-align:center;
}
table.lines {
	border-collapse:separate;
	line-height: 130%;
	p {
	  	margin:0;
	  	padding:0;
	}
	td {
	  	vertical-align:top;
	  	padding-bottom:40px;
	}
	td.character {
		padding-right:15px;
	}
	td.line {
		padding-right:12px;
		width:500px;
	}
	td.performance {
		border-left: 1px solid #ccc;
		padding-left:15px;
		width:400px;
	}
	td.stage-direction {
		font-weight:bold;
	}
}
div#new-performance {
  div.line, div.character {
    text-align:left;
  }
}
footer {
	margin:30px;
	
}
