<% if @performance.errors.any? %>
	$("#performance_errors").append("<ul>");
	<% @performance.errors.full_messages.each do |msg| %>
		$("#performance_errors").append("<li><%= msg %></li>");
	<% end %>
	$("#performance_errors").append("</ul>");
<% else %>
	$('tr#line-row-<%= @performance.line.id.to_s %>').replaceWith("<%=j render :partial => 'line', :object => @performance.line, :usersubmitted => @usersubmitted %>");
	$.colorbox.close();
<% end %>
